
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<meta name="keywords" content="多功能,功能,文本,处理,处理器" />
<meta name="description" content="TxtTool多功能文本处理器							" />
<link href="css/css9.css" type=text/css rel=stylesheet>

<script type="text/javascript" src="/js/main.asp"></script>
<title>【VIP版】TxtTool多功能文本处理器1.39-电脑软件</title><!--hao828.com -->
</head>

<script>
ID="1647";
</script>

<body>
<div class="mwall">
<!--百度自动推送-->
<script>
(function(){
    var bp = document.createElement('script');
    var curProtocol = window.location.protocol.split(':')[0];
    if (curProtocol === 'https') {
        bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
    }
    else {
        bp.src = 'http://push.zhanzhang.baidu.com/push.js';
    }
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();
</script>

<!--百度自动推送-->
<div id="webhead">
	<div id="toplogin">
		<span>
		<script type="text/javascript" src="C:/Users/Administrator/Desktop/htm/js/date.js"></script>
		</span>
		<script language=javascript src="C:/Users/Administrator/Desktop/htm/js/wealth.js"></script>
	<div id="clear"></div>
	</div>
<div style="height:65px;"><div id="logo"><a href="http://www.hao828.com/"><img src="C:/Users/Administrator/Desktop/htm/imags/2013070954425209.gif" alt="hao828.com " /></a>
</div>
<div id="banner"><script src="http://www.5588128.com/pageads/c.php?c=34&w=468&h=60&n=1"></script></div>
<div id="topright">
		<div class="topright3"><li><a href="javascript:void(0);" onclick="SetHome(this,'http://www.hao828.com');">设为首页</a></li><li><a href="javascript:addfavorite()">加入收藏</a></li><li style="text-align:center;"><a id="StranLink">繁體中文</a></li><li style="text-align:right;"><a href="/sitemap.asp">网站地图</a></li></div><div id="clear"></div>
		<div class="textad">		</div>
</div></div>
</div>
	<div id="clear"></div>
<div id="webmenu">
	<ul>
<li> <a href="/" target="_top">首 页</a></li><li onmouseover="displaySubMenu(this)" onmouseout="hideSubMenu(this)")>| <a href="/class.asp?id=10" target="_top">实用查询</a><div>
<a href="/class.asp?id=3" target="_top">日常生活</a>
<a href="/class.asp?id=4" target="_top">电脑网络</a>
<a href="/class.asp?id=1" target="_top">交通地理</a>
<a href="/class.asp?id=5" target="_top">金融理财</a>
<a href="/class.asp?id=6" target="_top">教育学习</a>
<a href="/class.asp?id=22" target="_top">星座算命</a>
<a href="/class.asp?id=21" target="_top">站长查询</a>
<a href="/class.asp?id=20" target="_top">健康医疗</a>
<a href="/class.asp?id=56" target="_top">其他信息</a>
</div>
</li><li onmouseover="displaySubMenu(this)" onmouseout="hideSubMenu(this)")>| <a href="/class.asp?id=48" target="_top">旗下产品</a><div>
<a href="/class.asp?id=49" target="_top">电脑软件</a>
<a href="/class.asp?id=50" target="_top">手机应用</a>
<a href="/class.asp?id=63" target="_top">Web系统</a>
</div>
</li><li onmouseover="displaySubMenu(this)" onmouseout="hideSubMenu(this)")>| <a href="/class.asp?id=11" target="_top">在线应用</a><div>
<a href="/class.asp?id=13" target="_top">实用工具</a>
<a href="/class.asp?id=34" target="_top">站长应用</a>
<a href="/class.asp?id=32" target="_top">转换工具</a>
<a href="/class.asp?id=31" target="_top">图像工具</a>
<a href="/class.asp?id=30" target="_top">网页工具</a>
<a href="/class.asp?id=29" target="_top">加密解密</a>
<a href="/class.asp?id=28" target="_top">媒体工具</a>
<a href="/class.asp?id=12" target="_top">文本工具</a>
<a href="/class.asp?id=14" target="_top">时间日期</a>
<a href="/class.asp?id=35" target="_top">通讯聊天</a>
<a href="/class.asp?id=33" target="_top">其他应用</a>
</div>
</li><li>| <a href="http://tts.hao828.com/" target="_blank">语音合成</a></li><li>| <a href="/Game/FlashGame/" target="_top">在线游戏</a></li><li>| <a href="http://www.hao828.com/ChaXun/aizheng/" target="_top">癌症健康</a></li><li>| <a href="http://www.woaixiao.com/" target="_blank">搞笑幽默</a></li><li>| <a href="http://www.521rmb.com/" target="_blank">成功励志</a></li><li>| <a href="http://www.14a.cn/" target="_top">伏羲算命</a></li><li>| <a href="http://www.txttool.com/" target="_blank">文本工具</a></li><li>| <a href="http://www.1231818.com/" target="_top">快捷搜索</a></li>	</ul>
</div>
<div id="clear"></div>
<div class="mw" style="margin-top:3px;">


</div><div class="mw">
	<div class="dh">
		<div style="float:right;margin-top:-5px;background:url(/images/search.jpg) left no-repeat;padding-left:100px;">
<form id="form1" name="form1" method="post" action="/Search.asp?action=search" target="_blank">
<input name="KeyWord" type="text" id="KeyWord" value="" maxlength="10" size="13" class="borderall" style="height:17px;"/>
  <select name="bbs" id="bbs">
    <option value="1">站内搜索</option>
    <option value="3">百度站内</option>
    <option value="4">百度搜索</option>
    <option value="5">360搜索</option>
    <option value="6">搜狗搜索</option>
  </select>
<input type="submit" name="Submit" value="搜 索" class="borderall" style="height:21px;"/>
</form>
</div>
您现在的位置：<a href="/">首页</a> >> <a href="/class.asp?id=48">旗下产品</a> >> <a href="/class.asp?id=49">电脑软件</a> >> 内容
    </div>
	<div id="nw_left">
		<div id="web2l">
			<h1>【VIP版】TxtTool多功能文本处理器1.39</h1>
			<h3>时间：2020/1/4 1:25:44 点击：<span id="count"><img src="/images/loading2.gif" /></span></h3>
            
            
            <!-- Baidu Button BEGIN -->
<div class="bdsharebuttonbox"><a href="#" class="bds_more" data-cmd="more">分享到：</a><a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间">QQ空间</a><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博">新浪微博</a><a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博">腾讯微博</a><a href="#" class="bds_tieba" data-cmd="tieba" title="分享到百度贴吧">百度贴吧</a><a href="#" class="bds_youdao" data-cmd="youdao" title="分享到有道云笔记">有道云笔记</a><a href="#" class="bds_sqq" data-cmd="sqq" title="分享到QQ好友">QQ好友</a><a href="#" class="bds_bdysc" data-cmd="bdysc" title="分享到百度云收藏">百度云收藏</a><a href="#" class="bds_copy" data-cmd="copy" title="分享到复制网址">复制网址</a></div>
<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"24"},"share":{"bdSize":16}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>
<!-- Baidu Button END -->

            
			<div id="content">
            	<div class="zhaiyao"><b>　　核心提示：</b>TxtTool多功能文本处理器							...</div><br/><p>
	<br />
</p>
<p style="font-size:13px;vertical-align:baseline;font-family:&quot;background-color:rgba(255, 255, 255, 0.99);">
	<span style="font-family:&quot;font-size:13px;background-color:rgba(255, 255, 255, 0.99);">TXTTOOL多功能文本处理软件电脑版是一款美观实用、易用轻量级、快速TXT文本处理软件，绿色免安装，无广告，自带100多种常见文本处理功能，可以帮助您进行一键排版，OCR文字识别，去空行，去重复，行筛选，列拆分，列合并等文本操作，提高工作效率，是一款日常必备文本处理软件。</span> 
</p>
<p style="font-size:13px;vertical-align:baseline;font-family:&quot;background-color:rgba(255, 255, 255, 0.99);">
	部分功能截图演示：
</p>
<p style="font-size:13px;vertical-align:baseline;font-family:&quot;background-color:rgba(255, 255, 255, 0.99);">
	<br />
</p>
<p class="white h3 text-center tshown" style="font-family:&quot;font-weight:bold;font-size:24px;text-align:center;background-color:#63AEFF;color:#FFFFFF !important;">
	<br />
</p>
<p>
	<a class="btn mt5"><img src="http://www.txttool.com/t/static/picture/news.png" alt="" style="width:640px;" / onload="javascript:DrawImage(this,600)"></a><span style="color:#333333;font-family:&quot;font-size:14px;background-color:#63AEFF;"></span> 
</p>
<p>
	<img src="http://www.txttool.com/t/static/picture/txttool.gif" alt="" style="width:640px;" / onload="javascript:DrawImage(this,600)"> 
</p>
<span style="color:#333333;font-family:&quot;font-size:14px;background-color:#63AEFF;"></span> 
<p class="bg-red text-center white h4 lh2 mb0" style="font-family:&quot;font-weight:bold;font-size:20px;text-align:center;background-color:#DA251C;color:#FFFFFF !important;">
	演示1：OCR图像文字识别
</p>
<img src="http://www.txttool.com/t/static/picture/0.gif" alt="" style="width:640px;" / onload="javascript:DrawImage(this,600)"><span style="color:#333333;font-family:&quot;font-size:14px;background-color:#63AEFF;"></span> 
<p class="bg-red text-center white h4 lh2 mb0" style="font-family:&quot;font-weight:bold;font-size:20px;text-align:center;background-color:#DA251C;color:#FFFFFF !important;">
	演示2：批量去重复项
</p>
<img src="http://www.txttool.com/t/static/picture/1.gif" alt="" style="width:640px;" / onload="javascript:DrawImage(this,600)"><span style="color:#333333;font-family:&quot;font-size:14px;background-color:#63AEFF;"></span> 
<p class="bg-red text-center white h4 lh2 mb0" style="font-family:&quot;font-weight:bold;font-size:20px;text-align:center;background-color:#DA251C;color:#FFFFFF !important;">
	演示3：批量去空白行
</p>
<img src="http://www.txttool.com/t/static/picture/2.gif" alt="" style="width:640px;" / onload="javascript:DrawImage(this,600)"><span style="color:#333333;font-family:&quot;font-size:14px;background-color:#63AEFF;"></span> 
<p class="bg-red text-center white h4 lh2 mb0" style="font-family:&quot;font-weight:bold;font-size:20px;text-align:center;background-color:#DA251C;color:#FFFFFF !important;">
	演示4：保留包含关键词得行
</p>
<img src="http://www.txttool.com/t/static/picture/3.gif" alt="" style="width:640px;" / onload="javascript:DrawImage(this,600)"><span style="color:#333333;font-family:&quot;font-size:14px;background-color:#63AEFF;"></span> 
<p class="bg-red text-center white h4 lh2 mb0" style="font-family:&quot;font-weight:bold;font-size:20px;text-align:center;background-color:#DA251C;color:#FFFFFF !important;">
	演示5：文本列提取
</p>
<img src="http://www.txttool.com/t/static/picture/4.gif" alt="" style="width:640px;" / onload="javascript:DrawImage(this,600)"><span style="color:#333333;font-family:&quot;font-size:14px;background-color:#63AEFF;"></span> 
<p class="bg-red text-center white h4 lh2 mb0" style="font-family:&quot;font-weight:bold;font-size:20px;text-align:center;background-color:#DA251C;color:#FFFFFF !important;">
	演示6：批量清除鼠标选中相同字符串
</p>
<img src="http://www.456soft.com/usr/uploads/2019/11/3065923092.gif" alt="" style="width:640px;" / onload="javascript:DrawImage(this,600)"><span style="color:#333333;font-family:&quot;font-size:14px;background-color:#63AEFF;"></span> 
<p class="bg-red text-center white h4 lh2 mb0" style="font-family:&quot;font-weight:bold;font-size:20px;text-align:center;background-color:#DA251C;color:#FFFFFF !important;">
	演示7：序号段落批量分行
</p>
<img src="http://www.456soft.com/usr/uploads/2019/11/971732398.gif" alt="" style="width:640px;" / onload="javascript:DrawImage(this,600)"> 
<p>
	<br />
</p>
<p style="font-size:13px;vertical-align:baseline;font-family:&quot;background-color:rgba(255, 255, 255, 0.99);">
	<h3 align="center" style="text-align:left;font-family:&quot;color:#333333;font-size:24px;">
		<i class="red"><span style="color:#E56600;"></span><span style="color:#E56600;">100多种文本处理功能仅售：128元</span></i>
	</h3>
	<h4 align="left" style="font-family:&quot;color:#333333;font-size:20px;">
		<span class="glyphicon" style="font-family:&quot;font-weight:400;line-height:1.8;color:#5FB6FE;">128元我能享受到什么？</span>
	</h4>
	<p class="glay font12" style="color:#666666;font-family:&quot;">
		<span class="glyphicon" style="font-family:&quot;line-height:1.8;color:#5FB6FE;">1.注册码买一送一(备用注册码)</span>
	</p>
	<p class="glay font12" style="color:#666666;font-family:&quot;">
		<span class="glyphicon" style="font-family:&quot;line-height:1.8;color:#5FB6FE;">2.100多项文本处理功能,还在不断推出新功能</span>
	</p>
	<p class="glay font12" style="color:#666666;font-family:&quot;">
		<span class="glyphicon" style="font-family:&quot;line-height:1.8;color:#5FB6FE;">3.微信备注VIP享受7x24小时一对一专业技术客服技术咨询</span>
	</p>
	<p class="glay font12" style="color:#666666;font-family:&quot;">
		<span class="glyphicon" style="font-family:&quot;line-height:1.8;color:#5FB6FE;">4.软件BUG及时修正，新增功能版本免费升级</span>
	</p>
</p>
<p style="font-size:13px;vertical-align:baseline;font-family:&quot;background-color:rgba(255, 255, 255, 0.99);">
	<br />
</p>
<p>
	<span style="font-size:16px;">免费在线版本</span><span style="font-size:16px;">TxtTool多功能文本处理器&nbsp; <a href="http://www.txttool.com/" target="_blank">http://www.txttool.com/</a></span> 
</p>
<p>
	<br />
</p>
<p>
	<img src="http://www.txttool.com/images/erweima.jpg" alt="" / onload="javascript:DrawImage(this,600)"> 
</p>
<p>
	<br />
</p>
<p>
	<br />
</p>
<p>
	<br />
</p></p>

<br/>
<a href="javascript:void(0)" onClick="dashangToggle()" class="dashang" title="打赏，支持一下"></a>
			</div>
				<div class="tags">Tags:<a href="/Search.asp?KeyWord=%B6%E0%B9%A6%C4%DC">多功能</a>&nbsp;<a href="/Search.asp?KeyWord=%B9%A6%C4%DC">功能</a>&nbsp;<a href="/Search.asp?KeyWord=%CE%C4%B1%BE">文本</a>&nbsp;<a href="/Search.asp?KeyWord=%B4%A6%C0%ED">处理</a>&nbsp;<a href="/Search.asp?KeyWord=%B4%A6%C0%ED%C6%F7">处理器</a>&nbsp;</div>


            <div id="copy">作者：不详　来源：网络</div>
            <div id="ad468">
<script src="http://www.5588128.com/pageads/c.php?c=34&w=468&h=60&n=1"></script>
</div><br/><br/>


<!--高速版-->
<style>
  /* 打赏 */
.reward {
 padding: 5px 0
}
 
.reward .reward-notice {
 font-size: 15px;
 line-height: 14px;
 margin: 15px auto;
 text-align: center
}
 
.reward .reward-button {
 font-size: 28px;
 line-height: 58px;
 position: relative;
 display: block;
 width: 60px;
 height: 60px;
 margin: 0 auto;
 padding: 0;
 -webkit-user-select: none;
 text-align: center;
 vertical-align: middle;
 color: #fff;
 border: 1px solid #0087b4;
 border-radius: 50%;
 background: #0087b4;
 background: -webkit-gradient(linear,left top,left bottom,color-stop(100%,#2989d8),color-stop(100%,#207cca));
 background: -webkit-linear-gradient(top,#2989d8 100%,#207cca 100%);
 background: linear-gradient(to bottom,#2989d8 100%,#207cca 100%)
}
 
.reward .reward-code {
 position: absolute;
 top: -350%;
 left: 21%;
 display: none;
 width: 535%;
 height: 275%;
 margin-left: -265%;
 padding: 15px;
 border: 1px solid #e6e6e6;
 background: #fff;
 box-shadow: 0 1px 1px 1px #efefef
}
 
.reward .reward-button:hover .reward-code {
 display: block
}
 
.reward .reward-code span {
 display: inline-block;
 width: 150px;
 height: 150px
}
 
.reward .reward-code span.alipay-code {
 float: left
}
 
.reward .reward-code span.alipay-code a {
 padding: 0
}
 
.reward .reward-code span.wechat-code {
 float: right
}
 
.reward .reward-code img {
 display: inline-block;
 float: left;
 width: 150px;
 height: 150px;
 margin: 0 auto;
 border: 0
}
 
.reward .reward-code b {
 font-size: 14px;
 line-height: 26px;
 display: block;
 margin: 0;
 text-align: center;
 color: #666
}
 
.reward .reward-code b.notice {
 line-height: 2rem;
 margin-top: -1rem;
 color: #999
}
 
.reward .reward-code:after,.reward .reward-code:before {
 position: absolute;
 content: '';
 border: 10px solid transparent
}
 
.reward .reward-code:after {
 bottom: -19px;
 left: 50%;
 margin-left: -10px;
 border-top-color: #fff
}
 
.reward .reward-code:before {
 bottom: -20px;
 left: 50%;
 margin-left: -10px;
 border-top-color: #e6e6e6
}
  </style>

<div class="reward">
 <div class="reward-button">
 赏 
 <span class="reward-code">
 <span class="alipay-code">
 <img width="250" height="250" class="alipay-img wdp-appear" src="http://tts.hao828.com/DaShang/picture/alipayimg.png" alt="支付宝打赏" /><b>支付宝打赏</b>
 </span>
 <span class="wechat-code">
 <img width="250" height="250" class="wechat-img wdp-appear" src="http://tts.hao828.com/DaShang/picture/weipayimg.png" alt="微信打赏" /><b>微信打赏</b>
 </span>
 </span>
 </div>
 <p class="reward-notice">如果文章或资源对您有帮助，欢迎打赏作者。一路走来，感谢有您！</p>
</div>
<!--高速版-->


<br/>
            
            <div class="sxart">
			<li>上一篇：<a href='/html/?1646.html'>文本变形器1.0</a></li><li>下一篇：<a href='/html/?1648.html'>多功能转换编码解码加密解密工具1.01</a></li>
            </div>
		</div>
		<div id="web2l">
			<h6>相关信息</h6>
			<div id="marticle">
				<ul>
					<li>·<a href="/html/?1684.html">TXT文本报名登记名单反查1.0</a></li>
<li>·<a href="/html/?1680.html">TXT文本汉字批量拆字工具1.0免费绿色</a></li>
<li>·<a href="/html/?1678.html">TXT文本全角半角软件转换器1.0免费绿色</a></li>
<li>·<a href="/html/?1677.html">TXT文本内容批量合并器1.02免费绿色</a></li>
<li>·<a href="/html/?1649.html">文本行合并去重复，取相同行1.0软件版</a></li>
<li>·<a href="/html/?1648.html">多功能转换编码解码加密解密工具1.01</a></li>
<li>·<a href="/html/?1646.html">文本变形器1.0</a></li>
<li>·<a href="/html/?1558.html">TxtTool多功能文本编辑器1.0</a></li>
<li>·<a href="/html/?1556.html">TXT文本行去重工具1.01</a></li>
<li>·<a href="/html/?1538.html">鼠标自动点击器2018多功能版 V1.06</a></li>
<li>·<a href="/html/?1518.html">文本剪切板1.02.20190212</a></li>
<li>·<a href="/html/?1482.html">TXT文本多余空行过滤器1.0</a></li>
<li>·<a href="/html/?1429.html">文本转换语音助手1.02</a></li>
<li>·<a href="/html/?1223.html">多功能字符统计</a></li>
<li>·<a href="/html/?1217.html">文本字符替换</a></li>
<li>·<a href="/html/?1215.html">多功能文本处理</a></li>
<li>·<a href="/html/?1189.html">文本首字母转换大写</a></li>
<li>·<a href="/html/?1179.html">在线图片照片特效处理</a></li>
<li>·<a href="/html/?1158.html">批量图片处理</a></li>
<li>·<a href="/html/?1150.html">图像处理工具</a></li>

				</ul>
			</div>
            <div id="clear"></div>
		</div>
        <div id="clear"></div>



		
	</div>
	<div id="nw_right">
		<div id="web2r"><div align="center">
广告位

</div>
</div>
		<div id="web2r">
			<h5>本类热门</h5>
			<ul id="list10">
            	<li><span style="float:right;font-style:italic;font-family:Arial; ">01-04</span>·<a href="/html/?1647.html" >【VIP版】TxtTool多功能文本处理器1.39</a></li>
<li><span style="float:right;font-style:italic;font-family:Arial; ">04-19</span>·<a href="/html/?1632.html" >人类寿命科学计算器1.0</a></li>
<li><span style="float:right;font-style:italic;font-family:Arial; ">07-19</span>·<a href="/html/?1456.html" >电脑图像工具箱1.9.20180102</a></li>
<li><span style="float:right;font-style:italic;font-family:Arial; ">02-07</span>·<a href="/html/?1585.html" >百度API token获取器1.0</a></li>
<li><span style="float:right;font-style:italic;font-family:Arial; ">01-22</span>·<a href="/html/?1446.html" >中医中草药图库查询系统1.02.20160122</a></li>
<li><span style="float:right;font-style:italic;font-family:Arial; ">01-22</span>·<a href="/html/?1447.html" >中医中药处方大全1.01.20160122</a></li>
<li><span style="float:right;font-style:italic;font-family:Arial; ">07-19</span>·<a href="/html/?1455.html" >电脑硬件工具箱1.74.20180108</a></li>
<li><span style="float:right;font-style:italic;font-family:Arial; ">01-22</span>·<a href="/html/?1449.html" >中医穴位查询系统1.02.20160122</a></li>
<li><span style="float:right;font-style:italic;font-family:Arial; ">01-22</span>·<a href="/html/?1444.html" >中医偏方秘方大全查询1.4.20160122</a></li>
<li><span style="float:right;font-style:italic;font-family:Arial; ">01-12</span>·<a href="/html/?1679.html" >网站链接抓取电脑软件版1.0免费绿色</a></li>

            </ul>
  		</div>
		<div id="web2r">
			<h5>本类推荐</h5>
			<ul id="list10">
            	<li><span style="float:right;font-style:italic;font-family:Arial; ">10-09</span>·<a href="/html/?1656.html" >Png转换Svg1.01</a></li>
<li><span style="float:right;font-style:italic;font-family:Arial; ">10-08</span>·<a href="/html/?1655.html" >Windows启动文件管理工具1.0</a></li>
<li><span style="float:right;font-style:italic;font-family:Arial; ">10-06</span>·<a href="/html/?1653.html" >二维码图像解码器1.0</a></li>
<li><span style="float:right;font-style:italic;font-family:Arial; ">09-16</span>·<a href="/html/?1649.html" >文本行合并去重复，取相同行1.0软件版</a></li>
<li><span style="float:right;font-style:italic;font-family:Arial; ">04-19</span>·<a href="/html/?1632.html" >人类寿命科学计算器1.0</a></li>
<li><span style="float:right;font-style:italic;font-family:Arial; ">01-26</span>·<a href="/html/?1570.html" >电脑网络连接查看器1.0</a></li>
<li><span style="float:right;font-style:italic;font-family:Arial; ">01-05</span>·<a href="/html/?1523.html" >二维码条形码图像识别工具1.0</a></li>
<li><span style="float:right;font-style:italic;font-family:Arial; ">12-31</span>·<a href="/html/?1514.html" >房屋出租管理系统1.0</a></li>
<li><span style="float:right;font-style:italic;font-family:Arial; ">12-30</span>·<a href="/html/?1513.html" >文件名批量修改1.01</a></li>
<li><span style="float:right;font-style:italic;font-family:Arial; ">12-30</span>·<a href="/html/?1512.html" >灰色按钮克星1.0</a></li>

            </ul>
  		</div>
        <div id="web2r">
			<h5>本类固顶</h5>
			<ul id="list10">
            	<li><span style="float:right;font-style:italic;font-family:Arial; ">01-04</span>·<a href="/html/?1647.html" >【VIP版】TxtTool多功能文本处理器1.39</a></li>

            </ul>
  		</div>


   <div id="web2r">
			<ul id="list10">
            	




            </ul>
  		</div>


	</div>
</div>
<script type="text/javascript" src="/Ajaxpl.asp"></script>

<div style="display:none;" id="_count">
<script type="text/javascript" src="/js/count.asp?id=1647"></script>
</div>
<script>$('count').innerHTML=$('_count').innerHTML;</script>
<div id="clear"></div>
<div id="webcopy">
<div class="DiypageMenu">
<a href="/about/about.html">关于我们</a> | <a href="/about/xieyi.html">许可协议</a> | <a href="/about/guanggao.html">广告服务</a> | <a href="/about/job.html">本站招聘</a> | <a href="/about/lianxi.html">联系我们</a> | <a href="/about/ganen.html">感谢有你</a></div>
<div id="clear"></div>
	<li>hao828.com (<a href="http://www.hao828.com">www.hao828.com</a>) &copy; 2020 版权所有 All Rights Reserved.</li>
	<li>QQ:xxxxxx <a href="http://beian.miit.gov.cn" target="_blank"></a></li>
<script type="text/javascript" src="//js.users.51.la/20811257.js"></script>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?d1a5660962b14625fa76c05e7240321c";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>

</div>
<script language="javascript" src="/js/Std_StranJF.Js"></script>
</div>



</body>
</html>