<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>迅雷音乐频道今日焦点JS代码</title>

<link href="css/news.css" type="text/css" rel="stylesheet" />

</head>
<body>

<script type="text/javascript">
var CurrentHotScreen = 0 ;

function setHotQueryList(screen){
	var Vmotion = "forward" ;
	var MaxScreen = 7 ;
	if(screen >= MaxScreen){
		screen = 0 ;
		Vmotion = "reverse" ;
	}
	cleanallstyle();
	document.getElementById("focus_"+screen).className = "up" ;
	if(null!=hot_query_td.filters){
		hot_query_td.filters[0].apply();
		hot_query_td.filters[0].motion = Vmotion;
	}
	for(i=0;i<MaxScreen;i++){
		document.getElementById("switch_"+i).style.display = "none" ;
	}
	document.getElementById("switch_"+screen).style.display = "block" ;
	if(null!=hot_query_td.filters){
		hot_query_td.filters[0].play();
	}
	CurrentHotScreen = screen ;
}

function refreshHotQuery(){
	refreshHotQueryTimer = null;
	setHotQueryList(CurrentHotScreen+1);
	refreshHotQueryTimer = setTimeout('refreshHotQuery();', 5000);
}
</script>

<div class="topnewsbox">

	<div class="topnews">
		<div class="topnewspic" id="hotsearchlist" style="filter:progid:DXImageTransform.Microsoft.GradientWipe(GradientSize=0.25,wipestyle=0,motion=forward)">
			<div id="switch_0"><a href="http://www.17sucai.com/" target="_blank"><img width="414" height="243" alt="信宣传新专辑 与徐静蕾合作很紧张" src="images/01.jpg" /></a></div>
			<div id="switch_1"><a href="http://www.17sucai.com/" target="_blank"><img width="414" height="243" alt="蒲巴甲北京录新歌 首张EP杀青在即" src="images/02.jpg" /></a></div>
			<div id="switch_2"><a href="http://www.17sucai.com/" target="_blank"><img width="414" height="243" alt="尚雯婕为演唱会携天价古董拍海报" src="images/03.jpg" /></a></div>
			<div id="switch_3"><a href="http://www.17sucai.com/" target="_blank"><img width="414" height="243" alt="曹格穿透明装与辣妹热舞　爸妈齐助阵" src="images/04.jpg" /></a></div>
			<div id="switch_4"><a href="http://www.17sucai.com/" target="_blank"><img width="414" height="243" alt="周杰伦女友江语晨拍MV 邀小朋友助阵" src="images/05.jpg" /></a></div>
			<div id="switch_5"><a href="http://www.17sucai.com/" target="_blank"><img width="414" height="243" alt="阿朵唱功遭质疑 撩裙露臀卖肉博眼球" src="images/06.jpg" /></a></div>
			<div id="switch_6"><a href="http://www.17sucai.com/" target="_blank"><img width="414" height="243" alt="林俊杰MV中惨遭意外车祸痛失女友" src="images/07.jpg" /></a></div>
		</div>
	
		<div class="topnewslist">
			<img src="images/jrjd.jpg" width="253" height="25" alt="今日焦点" />
			<ul>
				<li><a class="up" id="focus_0" onmouseover="show_focus_image(0);" href="http://www.17sucai.com/" target="_blank">信宣传新专辑 与徐静蕾合作很紧张</a></li>
				<li><a id="focus_1" onmouseover="show_focus_image(1);" href="http://www.17sucai.com/" target="_blank">蒲巴甲北京录新歌 首张EP杀青在即</a> </li>
				<li><a id="focus_2" onmouseover="show_focus_image(2);" href="http://www.17sucai.com/" target="_blank">尚雯婕为演唱会携天价古董拍海报</a> </li>
				<li><a id="focus_3" onmouseover="show_focus_image(3);" href="http://www.17sucai.com/" target="_blank">曹格穿透明装与辣妹热舞　爸妈齐助阵</a></li>
				<li><a id="focus_4" onmouseover="show_focus_image(4);" href="http://www.17sucai.com/" target="_blank">周杰伦女友江语晨拍MV 邀小朋友助阵</a> </li>
				<li><a id="focus_5" onmouseover="show_focus_image(5);" href="http://www.17sucai.com/" target="_blank">阿朵唱功遭质疑 撩裙露臀卖肉博眼球</a> </li>
				<li><a id="focus_6" onmouseover="show_focus_image(6);" href="http://www.17sucai.com/" target="_blank">林俊杰MV中惨遭意外车祸痛失女友</a> </li>
			</ul>
		</div>
	
	</div>
	
	<div class="topnewsbg"></div>

</div>

<script type="text/javascript">		
function cleanallstyle(){
	for(i=0;i<7;i++){
		document.getElementById("focus_"+i).className = "" ;
	}
}

function show_focus_image(index){
	clearTimeout(refreshHotQueryTimer);
	setHotQueryList(index);
	refreshHotQueryTimer = setTimeout('refreshHotQuery();', 5000);
}

var refreshHotQueryTimer = null ;
var hot_query_td =  document.getElementById('hotsearchlist');
setHotQueryList(CurrentHotScreen);
refreshHotQueryTimer = setTimeout('refreshHotQuery();', 5000);
</script>
	



</body>
</html>
