<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=gbk"/>
<title>做生意_信息发布电子商务网站|b2b免费商务平台_各行各业网</title>
<meta name="keywords" content="做生意,免费发布信息"/>
<meta name="description" content="各行各业做生意的网站，既可以免费发布信息，出售商品，又能找到最新货源，学习做生意的技巧，了解各行各业的生意经。"/>
<link rel="stylesheet" type="text/css" href="style.css"/>
</head>
<body>
<div class="head" id="head">
<div class="head_m">
<div class="f_r" id="destoon_member">欢迎，<span class="f_red">客人</span> | <a href="http://www.ghgy.com/member/log1lzl1zn.php">请登录</a> | <a href="http://www.ghgy.com/member/relgils1lzter.php">免费注册</a> | <a href="http://www.ghgy.com/member/send.php">忘记密码?</a></div>
<div class="head_l">
<ul>
<li class="h_fav"><script type="text/javascript">addFav('收藏本页');</script><a href="http://www.ghgy.com/" title="做生意_信息发布电子商务网站|b2b免费商务平台_各行各业网" rel="sidebar" onclick="if(UA.indexOf('chrome') != -1){alert('请按快捷键Ctrl+D收藏本页，谢谢');return false;}window.external.addFavorite(this.href, this.title);return false;">收藏本页</a></li>
</ul>
</div>
</div>
</div>











</body>
</html>